<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iClinic_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="iClinic_.Properties.Settings.clinic_DBConnectionString"
            connectionString="Data Source=|DataDirectory|\clinic_DB.sdf;Password=123456A!"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <userSettings>
        <iClinic_.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="firstrun" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="defaultusr" serializeAs="String">
                <value>bilal</value>
            </setting>
            <setting name="defaultpwd" serializeAs="String">
                <value>123</value>
            </setting>
        </iClinic_.Properties.Settings>
    </userSettings>
</configuration>